$numbers: (0, 1, 2);

@each $numbers in $numbers {
  .p-#{$numbers} {
    padding: #{$numbers}rem;
  }

  .p-t-#{$numbers} {
    padding-top: #{$numbers}rem;
  }

  .p-b-#{$numbers} {
    padding-bottom: #{$numbers}rem;
  }

  .p-l-#{$numbers} {
    padding-left: #{$numbers}rem;
  }

  .p-r-#{$numbers} {
    padding-right: #{$numbers}rem;
  }

  .m-#{$numbers} {
    margin: #{$numbers}rem;
  }

  .m-t-#{$numbers} {
    margin-top: #{$numbers}rem;
  }

  .m-b-#{$numbers} {
    margin-bottom: #{$numbers}rem;
  }

  .m-r-#{$numbers} {
    margin-right: #{$numbers}rem;
  }

  .m-l-#{$numbers} {
    margin-left: #{$numbers}rem;
  }
}

.m-auto {
  margin: 0 auto;
}
