.w-0 {
  width: 0rem;
}

.h-p-0 {
  height: 0%;
}

.h-0-px {
  height: 0px;
}

.w-p-0 {
  width: 0%;
}

.w-0-px {
  width: 0px;
}

.left-p-0 {
  left: 0%;
}

.right-p-0 {
  right: 0%;
}

.right-0 {
  right: 0px;
}

.top-p-0 {
  top: 0% !important;
}

.top-0 {
  top: 0px;
}

.bottom-p-0 {
  bottom: 0% !important;
}

.bottom-0 {
  bottom: 0px;
}

.w-4 {
  width: 4rem;
}

.h-p-4 {
  height: 4%;
}

.h-4-px {
  height: 4px;
}

.w-p-4 {
  width: 4%;
}

.w-4-px {
  width: 4px;
}

.left-p-4 {
  left: 4%;
}

.right-p-4 {
  right: 4%;
}

.right-4 {
  right: 4px;
}

.top-p-4 {
  top: 4% !important;
}

.top-4 {
  top: 4px;
}

.bottom-p-4 {
  bottom: 4% !important;
}

.bottom-4 {
  bottom: 4px;
}

.w-8 {
  width: 8rem;
}

.h-p-8 {
  height: 8%;
}

.h-8-px {
  height: 8px;
}

.w-p-8 {
  width: 8%;
}

.w-8-px {
  width: 8px;
}

.left-p-8 {
  left: 8%;
}

.right-p-8 {
  right: 8%;
}

.right-8 {
  right: 8px;
}

.top-p-8 {
  top: 8% !important;
}

.top-8 {
  top: 8px;
}

.bottom-p-8 {
  bottom: 8% !important;
}

.bottom-8 {
  bottom: 8px;
}

.w-10 {
  width: 10rem;
}

.h-p-10 {
  height: 10%;
}

.h-10-px {
  height: 10px;
}

.w-p-10 {
  width: 10%;
}

.w-10-px {
  width: 10px;
}

.left-p-10 {
  left: 10%;
}

.right-p-10 {
  right: 10%;
}

.right-10 {
  right: 10px;
}

.top-p-10 {
  top: 10% !important;
}

.top-10 {
  top: 10px;
}

.bottom-p-10 {
  bottom: 10% !important;
}

.bottom-10 {
  bottom: 10px;
}

.w-16 {
  width: 16rem;
}

.h-p-16 {
  height: 16%;
}

.h-16-px {
  height: 16px;
}

.w-p-16 {
  width: 16%;
}

.w-16-px {
  width: 16px;
}

.left-p-16 {
  left: 16%;
}

.right-p-16 {
  right: 16%;
}

.right-16 {
  right: 16px;
}

.top-p-16 {
  top: 16% !important;
}

.top-16 {
  top: 16px;
}

.bottom-p-16 {
  bottom: 16% !important;
}

.bottom-16 {
  bottom: 16px;
}

.w-18 {
  width: 18rem;
}

.h-p-18 {
  height: 18%;
}

.h-18-px {
  height: 18px;
}

.w-p-18 {
  width: 18%;
}

.w-18-px {
  width: 18px;
}

.left-p-18 {
  left: 18%;
}

.right-p-18 {
  right: 18%;
}

.right-18 {
  right: 18px;
}

.top-p-18 {
  top: 18% !important;
}

.top-18 {
  top: 18px;
}

.bottom-p-18 {
  bottom: 18% !important;
}

.bottom-18 {
  bottom: 18px;
}

.w-20 {
  width: 20rem;
}

.h-p-20 {
  height: 20%;
}

.h-20-px {
  height: 20px;
}

.w-p-20 {
  width: 20%;
}

.w-20-px {
  width: 20px;
}

.left-p-20 {
  left: 20%;
}

.right-p-20 {
  right: 20%;
}

.right-20 {
  right: 20px;
}

.top-p-20 {
  top: 20% !important;
}

.top-20 {
  top: 20px;
}

.bottom-p-20 {
  bottom: 20% !important;
}

.bottom-20 {
  bottom: 20px;
}

.w-24 {
  width: 24rem;
}

.h-p-24 {
  height: 24%;
}

.h-24-px {
  height: 24px;
}

.w-p-24 {
  width: 24%;
}

.w-24-px {
  width: 24px;
}

.left-p-24 {
  left: 24%;
}

.right-p-24 {
  right: 24%;
}

.right-24 {
  right: 24px;
}

.top-p-24 {
  top: 24% !important;
}

.top-24 {
  top: 24px;
}

.bottom-p-24 {
  bottom: 24% !important;
}

.bottom-24 {
  bottom: 24px;
}

.w-30 {
  width: 30rem;
}

.h-p-30 {
  height: 30%;
}

.h-30-px {
  height: 30px;
}

.w-p-30 {
  width: 30%;
}

.w-30-px {
  width: 30px;
}

.left-p-30 {
  left: 30%;
}

.right-p-30 {
  right: 30%;
}

.right-30 {
  right: 30px;
}

.top-p-30 {
  top: 30% !important;
}

.top-30 {
  top: 30px;
}

.bottom-p-30 {
  bottom: 30% !important;
}

.bottom-30 {
  bottom: 30px;
}

.w-40 {
  width: 40rem;
}

.h-p-40 {
  height: 40%;
}

.h-40-px {
  height: 40px;
}

.w-p-40 {
  width: 40%;
}

.w-40-px {
  width: 40px;
}

.left-p-40 {
  left: 40%;
}

.right-p-40 {
  right: 40%;
}

.right-40 {
  right: 40px;
}

.top-p-40 {
  top: 40% !important;
}

.top-40 {
  top: 40px;
}

.bottom-p-40 {
  bottom: 40% !important;
}

.bottom-40 {
  bottom: 40px;
}

.w-45 {
  width: 45rem;
}

.h-p-45 {
  height: 45%;
}

.h-45-px {
  height: 45px;
}

.w-p-45 {
  width: 45%;
}

.w-45-px {
  width: 45px;
}

.left-p-45 {
  left: 45%;
}

.right-p-45 {
  right: 45%;
}

.right-45 {
  right: 45px;
}

.top-p-45 {
  top: 45% !important;
}

.top-45 {
  top: 45px;
}

.bottom-p-45 {
  bottom: 45% !important;
}

.bottom-45 {
  bottom: 45px;
}

.w-50 {
  width: 50rem;
}

.h-p-50 {
  height: 50%;
}

.h-50-px {
  height: 50px;
}

.w-p-50 {
  width: 50%;
}

.w-50-px {
  width: 50px;
}

.left-p-50 {
  left: 50%;
}

.right-p-50 {
  right: 50%;
}

.right-50 {
  right: 50px;
}

.top-p-50 {
  top: 50% !important;
}

.top-50 {
  top: 50px;
}

.bottom-p-50 {
  bottom: 50% !important;
}

.bottom-50 {
  bottom: 50px;
}

.w-60 {
  width: 60rem;
}

.h-p-60 {
  height: 60%;
}

.h-60-px {
  height: 60px;
}

.w-p-60 {
  width: 60%;
}

.w-60-px {
  width: 60px;
}

.left-p-60 {
  left: 60%;
}

.right-p-60 {
  right: 60%;
}

.right-60 {
  right: 60px;
}

.top-p-60 {
  top: 60% !important;
}

.top-60 {
  top: 60px;
}

.bottom-p-60 {
  bottom: 60% !important;
}

.bottom-60 {
  bottom: 60px;
}

.w-70 {
  width: 70rem;
}

.h-p-70 {
  height: 70%;
}

.h-70-px {
  height: 70px;
}

.w-p-70 {
  width: 70%;
}

.w-70-px {
  width: 70px;
}

.left-p-70 {
  left: 70%;
}

.right-p-70 {
  right: 70%;
}

.right-70 {
  right: 70px;
}

.top-p-70 {
  top: 70% !important;
}

.top-70 {
  top: 70px;
}

.bottom-p-70 {
  bottom: 70% !important;
}

.bottom-70 {
  bottom: 70px;
}

.w-80 {
  width: 80rem;
}

.h-p-80 {
  height: 80%;
}

.h-80-px {
  height: 80px;
}

.w-p-80 {
  width: 80%;
}

.w-80-px {
  width: 80px;
}

.left-p-80 {
  left: 80%;
}

.right-p-80 {
  right: 80%;
}

.right-80 {
  right: 80px;
}

.top-p-80 {
  top: 80% !important;
}

.top-80 {
  top: 80px;
}

.bottom-p-80 {
  bottom: 80% !important;
}

.bottom-80 {
  bottom: 80px;
}

.w-90 {
  width: 90rem;
}

.h-p-90 {
  height: 90%;
}

.h-90-px {
  height: 90px;
}

.w-p-90 {
  width: 90%;
}

.w-90-px {
  width: 90px;
}

.left-p-90 {
  left: 90%;
}

.right-p-90 {
  right: 90%;
}

.right-90 {
  right: 90px;
}

.top-p-90 {
  top: 90% !important;
}

.top-90 {
  top: 90px;
}

.bottom-p-90 {
  bottom: 90% !important;
}

.bottom-90 {
  bottom: 90px;
}

.w-92 {
  width: 92rem;
}

.h-p-92 {
  height: 92%;
}

.h-92-px {
  height: 92px;
}

.w-p-92 {
  width: 92%;
}

.w-92-px {
  width: 92px;
}

.left-p-92 {
  left: 92%;
}

.right-p-92 {
  right: 92%;
}

.right-92 {
  right: 92px;
}

.top-p-92 {
  top: 92% !important;
}

.top-92 {
  top: 92px;
}

.bottom-p-92 {
  bottom: 92% !important;
}

.bottom-92 {
  bottom: 92px;
}

.w-100 {
  width: 100rem;
}

.h-p-100 {
  height: 100%;
}

.h-100-px {
  height: 100px;
}

.w-p-100 {
  width: 100%;
}

.w-100-px {
  width: 100px;
}

.left-p-100 {
  left: 100%;
}

.right-p-100 {
  right: 100%;
}

.right-100 {
  right: 100px;
}

.top-p-100 {
  top: 100% !important;
}

.top-100 {
  top: 100px;
}

.bottom-p-100 {
  bottom: 100% !important;
}

.bottom-100 {
  bottom: 100px;
}

/*# sourceMappingURL=sizes.css.map */
