.p-0 {
  padding: 0px;
}

.p-p-0 {
  padding: 0%;
}

.p-t-0 {
  padding-top: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-0 {
  margin: 0px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-p-0 {
  margin: 0%;
}

.p-4 {
  padding: 4px;
}

.p-p-4 {
  padding: 4%;
}

.p-t-4 {
  padding-top: 4px;
}

.p-b-4 {
  padding-bottom: 4px;
}

.p-l-4 {
  padding-left: 4px;
}

.p-r-4 {
  padding-right: 4px;
}

.m-4 {
  margin: 4px;
}

.m-t-4 {
  margin-top: 4px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-p-4 {
  margin: 4%;
}

.p-8 {
  padding: 8px;
}

.p-p-8 {
  padding: 8%;
}

.p-t-8 {
  padding-top: 8px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-r-8 {
  padding-right: 8px;
}

.m-8 {
  margin: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-p-8 {
  margin: 8%;
}

.p-10 {
  padding: 10px;
}

.p-p-10 {
  padding: 10%;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-p-10 {
  margin: 10%;
}

.p-16 {
  padding: 16px;
}

.p-p-16 {
  padding: 16%;
}

.p-t-16 {
  padding-top: 16px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16 {
  padding-right: 16px;
}

.m-16 {
  margin: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-p-16 {
  margin: 16%;
}

.p-18 {
  padding: 18px;
}

.p-p-18 {
  padding: 18%;
}

.p-t-18 {
  padding-top: 18px;
}

.p-b-18 {
  padding-bottom: 18px;
}

.p-l-18 {
  padding-left: 18px;
}

.p-r-18 {
  padding-right: 18px;
}

.m-18 {
  margin: 18px;
}

.m-t-18 {
  margin-top: 18px;
}

.m-b-18 {
  margin-bottom: 18px;
}

.m-r-18 {
  margin-right: 18px;
}

.m-l-18 {
  margin-left: 18px;
}

.m-p-18 {
  margin: 18%;
}

.p-20 {
  padding: 20px;
}

.p-p-20 {
  padding: 20%;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-p-20 {
  margin: 20%;
}

.p-24 {
  padding: 24px;
}

.p-p-24 {
  padding: 24%;
}

.p-t-24 {
  padding-top: 24px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.p-l-24 {
  padding-left: 24px;
}

.p-r-24 {
  padding-right: 24px;
}

.m-24 {
  margin: 24px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-l-24 {
  margin-left: 24px;
}

.m-p-24 {
  margin: 24%;
}

.p-30 {
  padding: 30px;
}

.p-p-30 {
  padding: 30%;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.m-30 {
  margin: 30px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-p-30 {
  margin: 30%;
}

.p-40 {
  padding: 40px;
}

.p-p-40 {
  padding: 40%;
}

.p-t-40 {
  padding-top: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.m-40 {
  margin: 40px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-p-40 {
  margin: 40%;
}

.p-45 {
  padding: 45px;
}

.p-p-45 {
  padding: 45%;
}

.p-t-45 {
  padding-top: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.m-45 {
  margin: 45px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.m-p-45 {
  margin: 45%;
}

.p-50 {
  padding: 50px;
}

.p-p-50 {
  padding: 50%;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.m-50 {
  margin: 50px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.m-p-50 {
  margin: 50%;
}

.p-60 {
  padding: 60px;
}

.p-p-60 {
  padding: 60%;
}

.p-t-60 {
  padding-top: 60px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-l-60 {
  padding-left: 60px;
}

.p-r-60 {
  padding-right: 60px;
}

.m-60 {
  margin: 60px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-p-60 {
  margin: 60%;
}

.p-70 {
  padding: 70px;
}

.p-p-70 {
  padding: 70%;
}

.p-t-70 {
  padding-top: 70px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.p-l-70 {
  padding-left: 70px;
}

.p-r-70 {
  padding-right: 70px;
}

.m-70 {
  margin: 70px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.m-p-70 {
  margin: 70%;
}

.p-80 {
  padding: 80px;
}

.p-p-80 {
  padding: 80%;
}

.p-t-80 {
  padding-top: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-l-80 {
  padding-left: 80px;
}

.p-r-80 {
  padding-right: 80px;
}

.m-80 {
  margin: 80px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.m-p-80 {
  margin: 80%;
}

.p-90 {
  padding: 90px;
}

.p-p-90 {
  padding: 90%;
}

.p-t-90 {
  padding-top: 90px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.p-l-90 {
  padding-left: 90px;
}

.p-r-90 {
  padding-right: 90px;
}

.m-90 {
  margin: 90px;
}

.m-t-90 {
  margin-top: 90px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.m-r-90 {
  margin-right: 90px;
}

.m-l-90 {
  margin-left: 90px;
}

.m-p-90 {
  margin: 90%;
}

.p-92 {
  padding: 92px;
}

.p-p-92 {
  padding: 92%;
}

.p-t-92 {
  padding-top: 92px;
}

.p-b-92 {
  padding-bottom: 92px;
}

.p-l-92 {
  padding-left: 92px;
}

.p-r-92 {
  padding-right: 92px;
}

.m-92 {
  margin: 92px;
}

.m-t-92 {
  margin-top: 92px;
}

.m-b-92 {
  margin-bottom: 92px;
}

.m-r-92 {
  margin-right: 92px;
}

.m-l-92 {
  margin-left: 92px;
}

.m-p-92 {
  margin: 92%;
}

.p-100 {
  padding: 100px;
}

.p-p-100 {
  padding: 100%;
}

.p-t-100 {
  padding-top: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

.m-100 {
  margin: 100px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.m-l-100 {
  margin-left: 100px;
}

.m-p-100 {
  margin: 100%;
}

.w-0 {
  width: 0rem;
}

.h-p-0 {
  height: 0%;
}

.h-0-px {
  height: 0px;
}

.w-p-0 {
  width: 0%;
}

.w-0-px {
  width: 0px;
}

.left-p-0 {
  left: 0%;
}

.right-p-0 {
  right: 0%;
}

.right-0 {
  right: 0px;
}

.top-p-0 {
  top: 0% !important;
}

.top-0 {
  top: 0px;
}

.bottom-p-0 {
  bottom: 0% !important;
}

.bottom-0 {
  bottom: 0px;
}

.w-4 {
  width: 4rem;
}

.h-p-4 {
  height: 4%;
}

.h-4-px {
  height: 4px;
}

.w-p-4 {
  width: 4%;
}

.w-4-px {
  width: 4px;
}

.left-p-4 {
  left: 4%;
}

.right-p-4 {
  right: 4%;
}

.right-4 {
  right: 4px;
}

.top-p-4 {
  top: 4% !important;
}

.top-4 {
  top: 4px;
}

.bottom-p-4 {
  bottom: 4% !important;
}

.bottom-4 {
  bottom: 4px;
}

.w-8 {
  width: 8rem;
}

.h-p-8 {
  height: 8%;
}

.h-8-px {
  height: 8px;
}

.w-p-8 {
  width: 8%;
}

.w-8-px {
  width: 8px;
}

.left-p-8 {
  left: 8%;
}

.right-p-8 {
  right: 8%;
}

.right-8 {
  right: 8px;
}

.top-p-8 {
  top: 8% !important;
}

.top-8 {
  top: 8px;
}

.bottom-p-8 {
  bottom: 8% !important;
}

.bottom-8 {
  bottom: 8px;
}

.w-10 {
  width: 10rem;
}

.h-p-10 {
  height: 10%;
}

.h-10-px {
  height: 10px;
}

.w-p-10 {
  width: 10%;
}

.w-10-px {
  width: 10px;
}

.left-p-10 {
  left: 10%;
}

.right-p-10 {
  right: 10%;
}

.right-10 {
  right: 10px;
}

.top-p-10 {
  top: 10% !important;
}

.top-10 {
  top: 10px;
}

.bottom-p-10 {
  bottom: 10% !important;
}

.bottom-10 {
  bottom: 10px;
}

.w-16 {
  width: 16rem;
}

.h-p-16 {
  height: 16%;
}

.h-16-px {
  height: 16px;
}

.w-p-16 {
  width: 16%;
}

.w-16-px {
  width: 16px;
}

.left-p-16 {
  left: 16%;
}

.right-p-16 {
  right: 16%;
}

.right-16 {
  right: 16px;
}

.top-p-16 {
  top: 16% !important;
}

.top-16 {
  top: 16px;
}

.bottom-p-16 {
  bottom: 16% !important;
}

.bottom-16 {
  bottom: 16px;
}

.w-18 {
  width: 18rem;
}

.h-p-18 {
  height: 18%;
}

.h-18-px {
  height: 18px;
}

.w-p-18 {
  width: 18%;
}

.w-18-px {
  width: 18px;
}

.left-p-18 {
  left: 18%;
}

.right-p-18 {
  right: 18%;
}

.right-18 {
  right: 18px;
}

.top-p-18 {
  top: 18% !important;
}

.top-18 {
  top: 18px;
}

.bottom-p-18 {
  bottom: 18% !important;
}

.bottom-18 {
  bottom: 18px;
}

.w-20 {
  width: 20rem;
}

.h-p-20 {
  height: 20%;
}

.h-20-px {
  height: 20px;
}

.w-p-20 {
  width: 20%;
}

.w-20-px {
  width: 20px;
}

.left-p-20 {
  left: 20%;
}

.right-p-20 {
  right: 20%;
}

.right-20 {
  right: 20px;
}

.top-p-20 {
  top: 20% !important;
}

.top-20 {
  top: 20px;
}

.bottom-p-20 {
  bottom: 20% !important;
}

.bottom-20 {
  bottom: 20px;
}

.w-24 {
  width: 24rem;
}

.h-p-24 {
  height: 24%;
}

.h-24-px {
  height: 24px;
}

.w-p-24 {
  width: 24%;
}

.w-24-px {
  width: 24px;
}

.left-p-24 {
  left: 24%;
}

.right-p-24 {
  right: 24%;
}

.right-24 {
  right: 24px;
}

.top-p-24 {
  top: 24% !important;
}

.top-24 {
  top: 24px;
}

.bottom-p-24 {
  bottom: 24% !important;
}

.bottom-24 {
  bottom: 24px;
}

.w-30 {
  width: 30rem;
}

.h-p-30 {
  height: 30%;
}

.h-30-px {
  height: 30px;
}

.w-p-30 {
  width: 30%;
}

.w-30-px {
  width: 30px;
}

.left-p-30 {
  left: 30%;
}

.right-p-30 {
  right: 30%;
}

.right-30 {
  right: 30px;
}

.top-p-30 {
  top: 30% !important;
}

.top-30 {
  top: 30px;
}

.bottom-p-30 {
  bottom: 30% !important;
}

.bottom-30 {
  bottom: 30px;
}

.w-40 {
  width: 40rem;
}

.h-p-40 {
  height: 40%;
}

.h-40-px {
  height: 40px;
}

.w-p-40 {
  width: 40%;
}

.w-40-px {
  width: 40px;
}

.left-p-40 {
  left: 40%;
}

.right-p-40 {
  right: 40%;
}

.right-40 {
  right: 40px;
}

.top-p-40 {
  top: 40% !important;
}

.top-40 {
  top: 40px;
}

.bottom-p-40 {
  bottom: 40% !important;
}

.bottom-40 {
  bottom: 40px;
}

.w-45 {
  width: 45rem;
}

.h-p-45 {
  height: 45%;
}

.h-45-px {
  height: 45px;
}

.w-p-45 {
  width: 45%;
}

.w-45-px {
  width: 45px;
}

.left-p-45 {
  left: 45%;
}

.right-p-45 {
  right: 45%;
}

.right-45 {
  right: 45px;
}

.top-p-45 {
  top: 45% !important;
}

.top-45 {
  top: 45px;
}

.bottom-p-45 {
  bottom: 45% !important;
}

.bottom-45 {
  bottom: 45px;
}

.w-50 {
  width: 50rem;
}

.h-p-50 {
  height: 50%;
}

.h-50-px {
  height: 50px;
}

.w-p-50 {
  width: 50%;
}

.w-50-px {
  width: 50px;
}

.left-p-50 {
  left: 50%;
}

.right-p-50 {
  right: 50%;
}

.right-50 {
  right: 50px;
}

.top-p-50 {
  top: 50% !important;
}

.top-50 {
  top: 50px;
}

.bottom-p-50 {
  bottom: 50% !important;
}

.bottom-50 {
  bottom: 50px;
}

.w-60 {
  width: 60rem;
}

.h-p-60 {
  height: 60%;
}

.h-60-px {
  height: 60px;
}

.w-p-60 {
  width: 60%;
}

.w-60-px {
  width: 60px;
}

.left-p-60 {
  left: 60%;
}

.right-p-60 {
  right: 60%;
}

.right-60 {
  right: 60px;
}

.top-p-60 {
  top: 60% !important;
}

.top-60 {
  top: 60px;
}

.bottom-p-60 {
  bottom: 60% !important;
}

.bottom-60 {
  bottom: 60px;
}

.w-70 {
  width: 70rem;
}

.h-p-70 {
  height: 70%;
}

.h-70-px {
  height: 70px;
}

.w-p-70 {
  width: 70%;
}

.w-70-px {
  width: 70px;
}

.left-p-70 {
  left: 70%;
}

.right-p-70 {
  right: 70%;
}

.right-70 {
  right: 70px;
}

.top-p-70 {
  top: 70% !important;
}

.top-70 {
  top: 70px;
}

.bottom-p-70 {
  bottom: 70% !important;
}

.bottom-70 {
  bottom: 70px;
}

.w-80 {
  width: 80rem;
}

.h-p-80 {
  height: 80%;
}

.h-80-px {
  height: 80px;
}

.w-p-80 {
  width: 80%;
}

.w-80-px {
  width: 80px;
}

.left-p-80 {
  left: 80%;
}

.right-p-80 {
  right: 80%;
}

.right-80 {
  right: 80px;
}

.top-p-80 {
  top: 80% !important;
}

.top-80 {
  top: 80px;
}

.bottom-p-80 {
  bottom: 80% !important;
}

.bottom-80 {
  bottom: 80px;
}

.w-90 {
  width: 90rem;
}

.h-p-90 {
  height: 90%;
}

.h-90-px {
  height: 90px;
}

.w-p-90 {
  width: 90%;
}

.w-90-px {
  width: 90px;
}

.left-p-90 {
  left: 90%;
}

.right-p-90 {
  right: 90%;
}

.right-90 {
  right: 90px;
}

.top-p-90 {
  top: 90% !important;
}

.top-90 {
  top: 90px;
}

.bottom-p-90 {
  bottom: 90% !important;
}

.bottom-90 {
  bottom: 90px;
}

.w-92 {
  width: 92rem;
}

.h-p-92 {
  height: 92%;
}

.h-92-px {
  height: 92px;
}

.w-p-92 {
  width: 92%;
}

.w-92-px {
  width: 92px;
}

.left-p-92 {
  left: 92%;
}

.right-p-92 {
  right: 92%;
}

.right-92 {
  right: 92px;
}

.top-p-92 {
  top: 92% !important;
}

.top-92 {
  top: 92px;
}

.bottom-p-92 {
  bottom: 92% !important;
}

.bottom-92 {
  bottom: 92px;
}

.w-100 {
  width: 100rem;
}

.h-p-100 {
  height: 100%;
}

.h-100-px {
  height: 100px;
}

.w-p-100 {
  width: 100%;
}

.w-100-px {
  width: 100px;
}

.left-p-100 {
  left: 100%;
}

.right-p-100 {
  right: 100%;
}

.right-100 {
  right: 100px;
}

.top-p-100 {
  top: 100% !important;
}

.top-100 {
  top: 100px;
}

.bottom-p-100 {
  bottom: 100% !important;
}

.bottom-100 {
  bottom: 100px;
}

nav {
  background-color: #16191C;
  width: 100px !important;
  height: 100vh !important;
}

ul {
  margin-top: 100px;
}
ul li:hover {
  background-image: linear-gradient(-180deg, #679CF6 0%, #4072EE 100%);
  box-shadow: 0 5px 15px 0 rgba(7, 8, 8, 0.5);
  color: white;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 110px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul li:hover a {
  padding-left: 60px;
}

ul:not(.browser-default) > li {
  list-style-type: none;
  margin: 16px;
}

.user-avatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 16px;
}
.user-avatar img:hover {
  border: 2px solid #4072EE;
}

/*# sourceMappingURL=main-menu.component.css.map */
