<nav>
  <div class="nav-wrapper">
    <!--    TODO add user.id for router-->
    <a [routerLink]="['/user', 1]"
       class="user-avatar">
      <img src="../../assets/images/avatar.jpg"
           alt="avatar"
      />
    </a>
    <ul>
      <li>
        <a routerLink="/dashboard"
           routerLinkActive="active-link"
        >
          <mat-icon>trending_up</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/shop-list"
           routerLinkActive="active-link"
        >
          <mat-icon>shopping_basket</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/monthly-plan"
           routerLinkActive="active-link"
        >
          <mat-icon>calendar_today</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/settings"
           routerLinkActive="active-link"
        >
          <mat-icon>settings</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
